:root{
    --secondary-color:#999999;
    --white:#ffffff;
    --color-elipse:#ffffff;
    --background-primary:#0E1420;
    --gradient:linear-gradient(to right, #43cea2, #185a9d );
}


@font-face {
    font-family: "Reguler";
    src: url(../font/regular.otf);
}
@font-face {
    font-family: "Bold";
    src: url(../font/bold.otf);
}
@font-face {
    font-family: "DemiBold";
    src: url(../font/demibold.otf);
}
@font-face {
    font-family: "Medium";
    src: url(../font/medium.otf);
}
@font-face {
    font-family: "Thin";
    src: url(../font/thin.otf);
}

body{
    background-color:  var(--background-primary) !important;
}

.link{
    color: var(--white);
    text-decoration: none;
}

.f-white{
    color: var(--white) !important;
}
.f-secondary{
    color: var(--secondary-color) !important;
}
.f-gradient{
    background: var(--gradient);
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

*{
    font-family: "DemiBold";
}

.f-36{
    font-size: 36px !important;
}
.f-28{
    font-size: 28px !important;
}
.f-22{
    font-size: 22px !important;
}
.f-18{
    font-size: 18px !important;
}
.f-16{
    font-size: 16px !important;
}
.f-14{
    font-size: 14px !important;
}

.f-reguler{
    font-family: "Reguler" !important;
}
.f-bold{
    font-family: "Bold" !important;
}
.f-medium{
    font-family: "Medium" !important;
}
.f-thin{
    font-family: "Thin" !important;
}



/* Navbar */
.nav-link{
    margin-right: 60px;
    font-size: 13px !important;
    font-family: "Medium";
}

.nav-link:hover{
    background: var(--gradient);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.navbar-me h5{
    margin-right: 10px;
    margin-top: 7px;
    font-family: "Bold" !important;
    color: var(--white);
    font-size: 14px;
    margin-bottom: 0px;
}
.navbar-me h6{
    color: var(--secondary-color);
    font-family: "Medium";
    font-size: 12px;
}

.navbar-me img{
    margin-top: 2px;
    width: 40px !important;
}


.elipse2{
    position: absolute;
    width: 400px;
    height: 400px;
    left: 60%;
    top: 380px;
    opacity: calc(0.09);

    background: var(--color-elipse);
    filter: blur(100px);
}
.elipse1{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 100px;
    top: 100px;
    opacity: calc(0.25);

    background: var(--color-elipse);
    filter: blur(100px);
}


.section-home{
    margin-top: 100px;
}

.section-home h5{
    color: var(--white);
    font-family: "Bold";
    font-size: 18px !important;
}

.banner{
    margin-top: 50px !important;
}

.img-logo-social-media{
    padding: 15px 15px 15px 0;
}

.text-big{
    margin-top: 30px;
    font-family: "Bold";
    font-size: 58px;
    color: var(--white) ;
}

.text-big span{
    font-family: "Bold";
    background: var(--gradient);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.section-home p{
    color: var(--secondary-color);
    width: 600px;
    font-family: "Bold";
    font-size: 13px;
    
}

.section-home a{
    border: none;
;
}

.section-home a:hover{
    border: none;
    background: var(--gradient);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent

}

.section-home a h5{
    font-family: "Bold";
    color: var(--white);
    font-size: 13px !important;
}

.side-point{
    margin-top: -300px !important;
}
.side-point h5{
    text-align: end;
    font-size: 16px;
}
.side-point p{
    padding-left: 20px;
    width: 195px;
    text-align: end;
    font-size: 13px ;
    font-family: "Bold";
}

.text-desc{
    margin-top: 45px;
}

.content{
    margin-top: 60px;
}

.btn-checkit{
    margin-top: 50px;
}

.navbar-toggler{
    border: none !important;
}

.navbar-toggler:focus{
    box-shadow: none !important;
}

.collapsing{
    padding: 10px;
}
.collapse{
    padding: 10px;
}

.bottom-info{
    bottom: 0px !important;
}

.bottom-info p{
    padding: 6px;
    margin-top: 10px;
    color: var(--white);
    font-size: 10px;
    font-family: "Reguler";
    
    border-radius: 10px !important;
}

.bottom-info span{
    color: var(--secondary-color);
}

.link-navbar-brand{
    text-decoration: none;
}

.text-header{
    margin-top: -10px;
    font-size: 30px;
    color: var(--white);
    font-family: "Bold";
    background: var(--gradient);
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.subtitle-text-header{
    margin-bottom: -50px !important;
    font-size: 14px;
    font-family: "Reguler";
    color: var(--secondary-color);
}







/* Halaman Projects */
.card-projects-left{
    margin-top: 60px !important;
    padding: 30px;
}
.card-projects-right{
    margin-top: 60px !important;
    padding: 30px;
    text-align: right;
}
.image-preview{
    width: 100%;
    border-radius: 10px;
}

.card-title-link{
    font-family: "Bold";
    color: var(--white);
    text-decoration: none;
    font-size: 24px;
}

.card-title-link:hover{
    background: var(--gradient);
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.author{
    margin-top: -10px;
    color: var(--white);
    font-size: 13px;
    font-family: "Thin";
}

.author span{
    font-family: "Bold";
}

.card-date{
    margin-top: 10px;
    font-size: 14px;
    color: var(--secondary-color);
}

.card-desc{
    font-size: 13px;
    font-family: 'Reguler';
}

.card-more-link{
    text-decoration: none;
    font-size: 12px;
}

.card-projects-right a{
    text-decoration: none;
}
.card-projects-left a{
    text-decoration: none;
}

.text-sorry{
    margin-top: 120px;
    margin-bottom: 120px;
    font-size: 14px;
    font-family: "Bold";
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 60px;
}


/* Page Detail Project */
.detail_project{
    margin-top: -30px;
}

.detail_image_banner img{
    width: 100%;
    border-radius: 15px;
}

.detail_info{
    padding: 20px;
}

.detail_info h4{
    color: var(--white);
    font-style: 24px;
    font-family: "Bold";
    margin-top: 20px;
}

.detail_info h5{
    color: var(--white);
    font-family: "Bold";
    font-size: 18px;
    margin-top: 20px;
}

.detail_info h6{
    color: var(--secondary-color);
    font-size: 14px;
    font-family: "Reguler";
    margin-bottom: 20px;
}

.detail_info h6 span{
    font-family: "Bold";
    font-size: 14px;
}

.detail_info p{
    color: var(--white);
    margin-top: 10px;
    font-size: 14px;
    line-height: 180%;
}

.detail_info .secondary_image img{
    margin-top: 20px;
    max-width:250px;
    max-height:250px;
    width: auto;
    height: auto;
}

.slide{
    height: 260px;
}

.card_side_detail img{
    width: 90%;
    border-radius: 10px;
}

.card_side_detail h6{
    padding: 10px;
    font-size: 14px;
    width: 90%;
}

.card-side{
    background-color: #a0a0a013;
    padding: 10px;
    border-radius: 10px;
}

.bg-blur{
    background-color: #0e1420e7;
    -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  }

  .btn-primary{
    font-size: 13px !important;
    background-color: #101f3de7 !important;
    -webkit-backdrop-filter: blur(6px) !important;
    backdrop-filter: blur(6px) !important;
  }

@media (max-width: 575.98px) {
    .section-home{
        margin-top: 50px;
    }
    .elipse2{
        position: absolute;
        width: 300px;
        height: 300px;
        left: 30px !important;
        top: 480px;
        opacity: calc(0.09);
    
        background: var(--color-elipse);
        filter: blur(100px);
    }
    .elipse1{
        position: absolute;
        width: 100px;
        height: 100px;
        top: 100px;
        opacity: calc(0.25);
    
        background: var(--color-elipse);
        filter: blur(100px);
    }

    /* Navbar */
    .navbar-me h5{
        padding-top: 7px;
        margin: 0;
        font-family: "Bold" !important;
        color: var(--white);
        font-size: 13px;
    }

    .navbar-me h6{
        color: var(--secondary-color);
        font-family: "Medium";
        font-size: 10px;
    }


    /* Section Home */

    .section-home p{
        margin-top: 20px;
        color: var(--secondary-color);
        width: 90%;
        font-family: "DemiBold";
        font-size: 12px;
        
    }

    .section-home h5{
        color: var(--white);
        font-family: "Bold";
        font-size: 14px !important;
    }

    .img-logo-social-media{
        width: 42px;
        padding: 15px 15px 15px 0;
    }

    .text-big{
        margin-top: 20px;
        font-family: "Bold";
        font-size: 42px;
        color: var(--white) ;
    }

    .banner{
        margin-top: 0px !important;
    }

    .side-point{
        margin-top:-20px !important;
        margin-bottom: 40px;
    }

    .side-point .content{
        width: 100%;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 40% 30% 30%;
      }

    .side-point h5{
        font-size: 16px !important;
        text-align: start !important;
        font-size: 20px !important;
    }
    .content{
        padding: 10px;
    }
    .side-point p{
        padding: 0px !important;
        margin: 0px !important;
        text-align: start !important;
        font-size: 12px ;
        font-family: "Bold";
    }

    .btn-checkit{
        margin-top: 0px;
    }

    .bottom-info p{
        font-size: 9px;
    }

    .image-navbar{
        width: 40px !important;
    }


    /* Halaman Projects */
    .text-header{
        margin-top: -40px;
        font-size: 24px;
        font-family: "Bold";
        margin-bottom: 0px;
    }
    
    .subtitle-text-header{
        font-size: 12px;
        margin-bottom: 10px !important;
    }
    .card-projects-left{
        margin-top: 30px !important;
        padding: 0px;
    }
    .card-projects-right{
        margin-top: 30px !important;
        text-align: left;
        padding: 0px;
    }
    .image-preview{
        width: 100%;
        border-radius: 5px;
        margin-bottom: 20px;
    }

    .card-title-link{
        font-size: 16px;
        width: 80%;
        margin-bottom: -5px;
    }

    .author{
        margin-top: 10px;
        font-size: 11px;
    }

    .card-date{
        margin-top: -5px;
        color: var(--secondary-color) !important;
        font-size: 10px;
        margin-bottom: -30px;
    }

    .card-desc{
        width: 0;
        height: 0;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .card-more-link{
        width: 0;
        height: 0;
        overflow: hidden;
    }

    .text-sorry{
        margin-top: 120px;
        margin-bottom: 120px;
        font-size: 12px;
        font-family: "Bold";
        background: var(--gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        padding: 120px;
    }

    
  }
